<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhui.contract.mapper.ChartsMapper">
    <!--获取合同总数信息-->
    <select id="selectAmount"  resultType="contract">
       SELECT sale_person,SUM(contract_amount)AS contract_amount FROM contract GROUP BY sale_person
    </select>

    <!--获取回款情况信息-->
    <select id="selectReturned"  resultType="contract">
      SELECT sale_person,SUM(recovered_amount_2015) AS recovered_amount_2015,
      SUM(recovered_amount_2016) as recovered_amount_2016,
      SUM(recovered_amount_2017) as recovered_amount_2017,
      SUM(recovered_amount_2018) as recovered_amount_2018,
      SUM(receivable_total) as receivable_total
      FROM contract
      GROUP BY sale_person
    </select>
</mapper>