<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhui.contract.mapper.ContractMapper">
    <!--保存合同信息-->
    <insert id="saveContract" parameterType="java.util.List">
        INSERT INTO contract(contract_sign_year, item_coding, sale_person, project_name,
        contract_amount, invoice_amount_2015, recovered_amount_2015, invoice_amount_2016,
        recovered_amount_date_2016, recovered_amount_2016, invoice_amount_2017,
        recovered_amount_date_2017, recovered_amount_2017, invoice_amount_2018,
        invoice_amount_date_2018, recovered_amount_2018,recovered_amount_date_2018, due, invoice_amount,
        unbilled_amount, receivable_total)
        VALUES
        (#{contractSignYear},#{itemCoding},#{salePerson},#{projectName},#{contractAmount},
        #{invoiceAmount2015},#{recoveredAmount2015},#{invoiceAmount2016},
        #{recoveredAmountDate2016},#{recoveredAmount2016},#{invoiceAmount2017},
        #{recoveredAmountDate2017},#{recoveredAmount2017},
        #{invoiceAmount2018},#{invoiceAmountDate2018},#{recoveredAmount2018},#{recoveredAmountDate2018},#{due},
        #{invoiceAmount},#{unbilledAmount},#{receivableTotal})
    </insert>

    <!--条件查询文章-->
    <select id="loadContract" resultType="contract" parameterType="map">
        SELECT *
        FROM contract
        WHERE 1=1
        <if test="contractSignYear != null and contractSignYear != ''">
            AND contract_sign_year LIKE CONCAT('%', #{contractSignYear}, '%')
        </if>
        <if test="itemCoding != null and itemCoding != ''">
            AND item_coding LIKE CONCAT('%', #{itemCoding}, '%')
        </if>
        <if test="salePerson != null and salePerson != ''">
            AND sale_person LIKE CONCAT('%',#{salePerson},'%')
        </if>
        ORDER BY contract_sign_year DESC limit #{pager.start},#{pager.limit}
    </select>

    <!--获取所有的文章数量-->
    <select id="initPage" resultType="int">
      SELECT count(contract_id) from contract
    </select>

    <!--按id删除合同信息-->
    <delete id="deleteContract">
        DELETE FROM contract WHERE contract_id = #{contractId}
    </delete>

    <!--更新合同信息-->
    <update id="updateContract">
        UPDATE contract
        SET
        contract_sign_year = '${contractSignYear}',
        item_coding = '${itemCoding}',
        sale_person = '${salePerson}',
        project_name = '${projectName}',
        contract_amount = '${contractAmount}',
        invoice_amount_2015 = '${invoiceAmount2015}',
        recovered_amount_2015 = '${recoveredAmount2015}',
        invoice_amount_2016 = '${invoiceAmount2016}',
        recovered_amount_date_2016 = '${recoveredAmountDate2016}',
        recovered_amount_2016 = '${recoveredAmount2016}',
        invoice_amount_2017 = '${invoiceAmount2017}',
        recovered_amount_date_2017 = '${recoveredAmountDate2017}',
        recovered_amount_2017 = '${recoveredAmount2017}',
        invoice_amount_2018 = '${invoiceAmount2018}',
        invoice_amount_date_2018 = '${invoiceAmountDate2018}',
        recovered_amount_2018 = '${recoveredAmount2018}',
        recovered_amount_date_2018 = '${recoveredAmountDate2018}',
        due = '${due}',
        invoice_amount = '${invoiceAmount}',
        unbilled_amount = '${unbilledAmount}'
        WHERE
        contract_id = #{contractId}
    </update>

    <!--根据id查询合同信息-->
    <select id="searchContract" resultType="contract">
        SELECT * from contract WHERE contract_id = #{contractId}
    </select>

    <!--手动添加合同信息-->
    <insert id="addContract">
        insert into contract(contract_sign_year, item_coding, sale_person, project_name,
        contract_amount, invoice_amount_2015, recovered_amount_2015, invoice_amount_2016,
        recovered_amount_date_2016, recovered_amount_2016, invoice_amount_2017,
        recovered_amount_date_2017, recovered_amount_2017, invoice_amount_2018,
        invoice_amount_date_2018, recovered_amount_2018,recovered_amount_date_2018, due, invoice_amount,
        unbilled_amount, receivable_total)
         VALUES
        (#{contractSignYear},#{itemCoding},#{salePerson},#{projectName},#{contractAmount},
        #{invoiceAmount2015},#{recoveredAmount2015},#{invoiceAmount2016},
        #{recoveredAmountDate2016},#{recoveredAmount2016},#{invoiceAmount2017},
        #{recoveredAmountDate2017},#{recoveredAmount2017},
        #{invoiceAmount2018},#{invoiceAmountDate2018},#{recoveredAmount2018},#{recoveredAmountDate2018},#{due},
        #{invoiceAmount},#{unbilledAmount},#{receivableTotal})
    </insert>

    <select id="searchAllContract" resultType="contract">
        SELECT *
        FROM contract
        WHERE 1=1
        <if test="contractSignYear != null and contractSignYear != ''">
            AND contract_sign_year LIKE CONCAT('%', #{contractSignYear}, '%')
        </if>
        <if test="itemCoding != null and itemCoding != ''">
            AND item_coding LIKE CONCAT('%', #{itemCoding}, '%')
        </if>
        <if test="salePerson != null and salePerson != ''">
            AND sale_person LIKE CONCAT('%',#{salePerson},'%')
        </if>
    </select>
</mapper>